{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
</br>
<h1 align="center">Social Media Caption Generator</h1>
</br>
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data">
    </br>
        <div class="form-group">
            <label for="file"><h3>Select an image to upload: <i class="fa fa-picture-o" aria-hidden="true"></i></h3></strong></label>
            </br>
            <input type="file" class="form-control" name="file" id="file" accept=".jpg, .jpeg, .png, .gif">
        </div>
            <form action="/generate_caption" method="post" class="mb-4">
                <div class="mb-3">
                    <label for="sentiment" class="form-label"><h5>Select Sentiment:</h5></label>
                    <select name="sentiment" id="sentiment" class="form-select">
                        <option value="happy">Happy</option>
                        <option value="sad">Sad</option>
                        <option value="surprise">Surprise</option>
                        <option value="family">Family</option>
                        <option value="motivated">Motivated</option>
                        <option value="friendship">Friendship</option>
                        <option value="angry">Angry</option>    
                        <option value="funny">Funny</option>
                        <option value="nostalgic">Nostalgic</option>
                        <option value="travel">Travel</option>
                        <option value="loved">Love</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info"><i class="fa fa-file-text-o"></i> <b>Generate Caption</b></button>
            </form>
    </form>
</div>
</br>
<div id="image-section" style="display: none;"> <!-- Initially hide this section -->
    {% if filename %}
        <h2>Uploaded Image:</h2>
        </br>
        <img src="{{ url_for('views.display_image', filename=filename) }}" alt="Uploaded Image" width="500" height="400">
        </br>
    </br>
        <p id="editable-text" class="outlined-text">{{ better_caption }}</p>
            <!-- <button id="edit-button" class="btn btn-info"> <i class="fa fa-pencil" aria-hidden="true"></i> <b>Edit Text</b></button >
            <p id="edited-text"></p> -->
            <div class="row">
                <div class="col-md-1">
                    <form action="{{ url_for('views.post_to_instagram_action') }}" method="post">
                        <input type="hidden" name="caption" value="{{ better_caption }}">
                        <input type="hidden" name="filename" value="{{ filename }}">
                        <button type="submit" class="btn btn-info"><i class="fa fa-instagram"></i> <b>Post</b></button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form action="{{ url_for('views.post_to_twitter_action') }}" method="post">
                        <input type="hidden" name="caption" value="{{ better_caption }}">
                        <input type="hidden" name="filename" value="{{ filename }}">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-twitter"></i> <b>Post</b></button>
                    </form>
                </div>
            </div>
        </br>
            <div>
                <a href="/">
                    <button type="submit" class="btn btn-info"><i class="fa fa-refresh"></i> <b>Generate More</b></button>
                </a>
            </div>
    {% endif %} <!-- End of if statement -->
</div>

<script>
    // JavaScript code for edit text functionality
    const editableText = document.getElementById('editable-text');
    const editButton = document.getElementById('edit-button');
    const editedText = document.getElementById('edited-text');

    editButton.addEventListener('click', () => {
        editableText.contentEditable = true;
        editableText.focus();
        editButton.style.display = 'none';
        editedText.style.display = 'none';
    });

    editableText.addEventListener('input', () => {
        editButton.style.display = 'block';
        editedText.style.display = 'block';
        editedText.textContent = editableText.textContent;
    });
</script>
<script>
    // JavaScript code for showing the image section when an image is uploaded
    const imageSection = document.getElementById('image-section');

    // Check if filename is not empty (image is uploaded)
    {% if filename %}
        imageSection.style.display = 'block'; // Show the image section
    {% endif %}
</script>
<script>
    function generateCaption(promptType) {
        var userMessage = document.getElementById('user_message').value;

        fetch('/generate_caption', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                user_message: genrated_caption,
                prompt_type: promptType,
            }),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('result').textContent = data.response;
        });
    }
</script>
</br>
{% endblock %}
